<!-- <h1>Praveen Edupoly</h1>
<h2>Angular Training in KPHB</h2>
{{title}}
<h1>{{title}}</h1>
<h2>{{10+20}}</h2>
<h2>{{10>20}}</h2>
<h2>{{true && true}}</h2>
<h2>{{10<3?'hello':'world'}}</h2>
<h2>{{"praveen"}}</h2>
<h2>{{title.toUpperCase()}}</h2>
<h2>{{"praveen".toUpperCase()+"gubbala".toUpperCase()}}</h2>
<h2>{{a+b}}</h2> -->
<li *ngFor="let a of ar">{{a}}</li>

<table border="2" width="400px" align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Place</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody align="center">
    <tr *ngFor="let student of students">
      <td>{{student.name}}</td>
      <td>{{student.place}}</td>
      <td>{{student.age}}</td>
    </tr>
  </tbody>
</table>
<button (click)="abc()">Sort the table by name</button>
<button (click)="xyz()">Sort the table by age</button>